@model IEnumerable<SliderGetDto>
<div class="page-body">
    <!-- All User Table Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="title-header option-title">
                            <h5>All Sliders</h5>
                            <form class="d-inline-flex">
                                <a asp-action="create"
                                   class="align-items-center btn btn-theme d-flex">
                                    <i data-feather="plus-square"></i>Add New
                                </a>
                            </form>
                        </div>

                        <div class="table-responsive category-table">
                            <div>
                                <table class="table all-package theme-table" id="table_id">
                                    <thead>
                                        <tr>
                                            <th>Slider Id</th>
                                            <th>Slider Name</th>
                                            <th>Slider Image</th>
                                            <th>Created At</th>
                                            <th>Options</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (SliderGetDto item in Model)
                                        {
                                            <tr>
                                                <td>@item.Id</td>
                                                <td>@item.Title</td>
                                                <td>
                                                    <div class="table-image">
                                                        <img src="~/assets/img/home/@item.Image" class="img-fluid" alt="">
                                                    </div>
                                                </td>
                                                <td>@item.CreatedAt.ToString("dd.MM.yyyy")</td>
                                                <td>
                                                    <a onclick="return confirm('are you sure?')" asp-action="remove" asp-route-id="@item.Id" class="badge badge-danger">Remove</a>
                                                    <a asp-action="update" asp-route-id="@item.Id" class="badge badge-warning">Update</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

