@model BlogViewModel
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity;
<main>
    <a asp-controller="blog" asp-action="detail">
        <i id="Up" class="fa-solid fa-chevron-up"></i>
    </a>
    <section id="BlogDetail">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-9">
                    <div class="left-part">
                        <div class="blog-top">
                            <a ><img src="~/assets/img/blog/@Model.BlogGetDto.Data.Image" alt=""></a>
                        </div>
                        <div class="blog-bottom">
                            <div class="blog-wrappers">
                                <span><i class="fa-regular fa-clock"></i>@Model.BlogGetDto.Data.Date.ToString("dd.MM.yyyy") </span>
                                <span><i class="fa-regular fa-bookmark"></i>@Model.BlogGetDto.Data.CategoryGetDto.Name</span>
                                @foreach (var item in Model.BlogGetDto.Data.Tags)
                                {
                                    <span><i class="fa-solid fa-hashtag"></i>@item.Name</span>
                                }

                            </div>
                            <div class="blog-title">
                                <h2>@Model.BlogGetDto.Data.Title</h2>
                            </div>
                            <div class="blog-content">

                                <p>
                                    @Model.BlogGetDto.Data.Info
                                </p>
                                <div class="quotes">
                                    <p>@Model.BlogGetDto.Data.Quotes</p>
                                </div>

                                <h2 class="sub-title">@Model.BlogGetDto.Data.SubTitle</h2>
                                <p>
                                    @Model.BlogGetDto.Data.SubInfo

                                </p>
                            </div>
                        </div>
                        <div class="post-comments">
                            <div class="comment-list">
                                <h5 class="entry-title">
                                    Thoughts on “But I must explain to you how all this mistaken idea”
                                </h5>
                                <ol class="comment-list">
                                    @if (Model.Comments != null && Model.Comments.Any())
                                        @foreach (var item in Model.Comments)
                                        {
                                            <li class="comment byuser comment-author-bacola bypostauthor even thread-even depth-1" id="comment-@item.Id">
                                                <div id="div-comment-@item.Id" class="comment-body">
                                                    <div class="comment-avatar">
                                                        <div class="comment-author vcard">
                                                            <img src="~/assets/img/blog/comment.jpeg" alt="admin" class="avatar">
                                                        </div>
                                                    </div>
                                                    <div class="comment-content">
                                                        <div class="comment-meta">
                                                            <b class="fn"><a class="url">@User.Identity.Name</a></b>
                                                            <div class="comment-metadata">
                                                                <time>@item.CreatedAt.ToString("MMM dd, yyyy")</time>
                                                            </div>
                                                        </div>
                                                        <div class="klb-post">
                                                            <p>@item.Text</p>
                                                        </div>
                                                        <div class="reply">
                                                            <a rel="nofollow" class="comment-reply-link" href="javascript:void(0)" data-commentid="@item.Id" aria-label="Reply to @User.Identity.Name">Reply</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                           
                                            <ul class="children">
                                                @if (User.Identity.IsAuthenticated)
                                                {
                                                    <div class="post-comments-form" style="display:none" id="commentFormContainer-@item.Id">
                                                        <div id="respond" class="comment-respond">
                                                            <h3 id="reply-title" class="comment-reply-title">Add A Reply<small></small></h3>
                                                            <form method="post" action="/blog/AddReply" id="commentform" class="comment-form">
                                                                <input type="hidden" name="BlogId" id="BlogId" value="@Model.BlogGetDto.Data.Id">
                                                                <input type="hidden" name="AspNetUsersId" id="AspNetUsersId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)">
                                                                <input type="hidden" name="AppUser" id="AspNetUsersId" value="@User.Identity.Name">
                                                                <p class="comment-form-comment">
                                                                    <label for="comment">Reply <span class="required">*</span></label>
                                                                    <textarea id="comment" name="text" cols="45" rows="8" maxlength="65525" required="required"></textarea>
                                                                </p>
                                                                <p class="form-submit">
                                                                    <input name="submit" type="submit" id="submit" class="submit" value="Post Reply">
                                                                    <input type="hidden" name="comment_post_ID" value="1759" id="comment_post_ID">
                                                                    <input type="hidden" name="ParentCommentId" id="comment_parent" value="@item.Id">
                                                                </p>
                                                            </form>
                                                        </div>
                                                    </div>
                                                }

                                                @if (item.Replies != null && item.Replies.Any())
                                                {
                                                    <li class="comment odd alt depth-2" id="comment-@item.Id">
                                                        <div id="div-comment-21" class="comment-body">
                                                            <div class="comment-avatar">
                                                                <div class="comment-author vcard">
                                                                    <img src="~/assets/img/blog/comment.jpeg" alt="Elliot Alderson" class="avatar">
                                                                </div>
                                                            </div>
                                                            <div class="comment-content">
                                                                <div class="comment-meta">
                                                                    <b class="fn"><a class="url">@User.Identity.Name</a></b>
                                                                    <div class="comment-metadata">
                                                                        <time>@item.CreatedAt.ToString("MMM dd, yyyy")</time>
                                                                    </div>
                                                                </div>
                                                                <div class="klb-post">
                                                                    <p>@item.Text</p>
                                                                </div>
                                                                <div class="reply">
                                                                    <a rel="nofollow" class="comment-reply-link" href="javascript:void(0)" data-commentid="@item.Id" aria-label="Reply to @User.Identity.Name">Reply</a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                            
                                        }

                                        else
                                        {
                                            <h1>No comments available.</h1>
                                        }
                                </ol>
                            </div>
                            @if (User.Identity.IsAuthenticated)
                            {
                                var userIdClaim = User.FindFirst(ClaimTypes.NameIdentifier);
                                var userId = userIdClaim?.Value;
            
                                <div class="post-comments-form">
                                    <div id="respond" class="comment-respond">
                                        <h3 id="reply-title" class="comment-reply-title">Add A Comment<small><a rel="nofollow" id="cancel-comment-reply-link" href="/bacola/blog/english-breakfast-tea-with-tasty-donut-desserts/#respond" style="display:none;">Cancel reply</a></small></h3>
                                        <form method="post" action="/blog/AddComment" id="commentform" class="comment-form">


                                            <input type="hidden" name="BlogId" id="BlogId" value="@Model.BlogGetDto.Data.Id">
                                            <input type="hidden" name="AspNetUsersId" id="AspNetUsersId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)">
                                            <input type="hidden" name="AppUser" id="AspNetUsersId" value="@User.Identity.Name">
                                            <p class="comment-form-comment">
                                                <label for="comment">Comment <span class="required">*</span></label>
                                                <textarea id="comment" name="text" cols="45" rows="8" maxlength="65525" required="required"></textarea>
                                            </p>

                                            <p class="form-submit">
                                                <input name="submit" type="submit" id="submit" class="submit" value="Post Comment">
                                                <input type="hidden" name="comment_post_ID" value="1759" id="comment_post_ID">
                                                <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                                            </p>
                                        </form>

                                    </div>
                                </div>
                            }
                            else
                            {
                                <h3>You must be logged in to leave a comment.</h3>
                            }

                        </div>
                    </div>



                </div>

                <div id="sidebar" class="col-12 col-md-3 col-lg-3">
                    <div class="search">
                        <div class="search-form">
                            <form class="search-form" id="search-form" action="https://klbtheme.com/bacola/" method="get">
                                <input class="form_control" type="text" name="s" placeholder="Search..." autocomplete="off">
                                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="posts">
                        <h4 class="widget-title">Popular Posts</h4>
                        <div class="all-posts">
                            <div class="post">
                                <div class="post-img">
                                    <a href="/blog-detail.html"><img src="~/assets/img/blog/blog-3.jpg" alt=""></a>
                                </div>
                                <div class="post-content">
                                    <h2>The Problem With Typefaces on the Web</h2>
                                </div>
                            </div>
                            <div class="post">
                                <div class="post-img">
                                    <a href="/blog-detail.html"><img src="~/assets/img/blog/blog-3.jpg" alt=""></a>
                                </div>
                                <div class="post-content">
                                    <h2>The Problem With Typefaces on the Web</h2>
                                </div>
                            </div>
                            <div class="post">
                                <div class="post-img">
                                    <a href="/blog-detail.html"><img src="~/assets/img/blog/blog-3.jpg" alt=""></a>
                                </div>
                                <div class="post-content">
                                    <h2>The Problem With Typefaces on the Web</h2>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="socials">
                        <h4>Social Media</h4>
                        <div class="social wide">
                            <div class="site-social style-1 wide">
                                <ul>
                                    <li><a href="https://www.facebook.com/" class="facebook"><i class="fa-brands fa-facebook"></i><span>facebook</span></a></li>
                                    <li><a href="https://twitter.com/home" class="twitter"><i class="fa-brands fa-twitter"></i><span>twitter</span></a></li>
                                    <li><a href="http://pinterest.com/" class="pinterest"><i class="fa-brands fa-pinterest"></i><span>pinterest</span></a></li>
                                    <li><a href="https://www.linkedin.com/" class="linkedin"><i class="fa-brands fa-linkedin"></i><span>linkedin</span></a></li>
                                    <li><a href="https://www.reddit.com/" class="reddit"><i class="fa-brands fa-reddit-alien"></i><span>reddit</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="media-img">
                        <h4 class="widget-title">Widget Banner</h4>
                        <img src="~/assets/img/blog/sidebar-banner.gif" alt="">
                    </div>
                    <div class="tags">
                        <h4 class="widget-title">Tags</h4>
                        @foreach (var item in ViewBag.Tags)
                        {
                            <div class="tag-cloud">
                                <a href="">@item.Name</a>
                            </div>

                        }


                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

