@model HomeViewModel

@if (TempData["emailverify"] != null)
{
    <div id="verify" style="display:none">@TempData["emailverify"]</div>
}

@if (TempData["resetPassword"] != null)
{
    <div id="resetpassword" style="display:none">@TempData["emailverify"]</div>
}
@if (TempData["update"] != null)
{
    <div id="update" style="display:none">@TempData["update"]</div>
}

<main>

    <a asp-controller="home" asp-action="index">
        <i id="Up" style="z-index:100" class="fa-solid fa-chevron-up"></i>
    </a>
    @foreach (var item in Model.Products)
    {
        <div aria-labelledby="@(item.Title+item.Id)Label" id="@(item.Title+item.Id)" class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
     
                        </button>
                    </div>
                    <div class="modal-body">
                        <section id="Productcart">
                            <div class="container">
                                <div class="single-wrapper">
                                    <div class="product-header">
                                        <h1 class="product_title entry-title">
                                            @item.Title
                                        </h1>
                                        <div class="bottom">
                                            <div class="product-brand">
                                                <p>
                                                    Brands : <span>@item.Brand.Name</span>
                                                </p>
                                            </div>
                                            <div class="star-rating">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <span>1 review</span>
                                            </div>
                                            <div class="sku-wrapper">
                                                <span class="first">SKU: <span>ZU49VOR</span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <div class="row">
                                            <div class="col-lg-6 ">

                                                <div class="main-img2">
                                                    @if (@item.ProductImages.Any(x => x.IsMain && !x.IsDeleted))
                                                    {
                                                        <img style="width:100%" src="~/assets/img/product/@item.ProductImages.First(x => x.IsMain && !x.IsDeleted).Image" alt="">
                                                    }
                                                    @*@foreach (var item2 in item.ProductImages.Where(y => !y.IsMain && !y.IsDeleted))
                                                    {
                                                        <img src="~/assets/img/product/@item2.Image" alt="">
                                                    }*@
                                                </div>
                                                @*<div class="addition-img">
                                                    @if (@item.ProductImages.Any(x => x.IsMain && !x.IsDeleted))
                                                    {
                                                        <img src="~/assets/img/product/@item.ProductImages.First(x => x.IsMain && !x.IsDeleted).Image" alt="">
                                                    }
                                                    @foreach (var item2 in item.ProductImages.Where(y => !y.IsMain && !y.IsDeleted))
                                                    {
                                                        <img src="~/assets/img/product/@item2.Image" alt="">
                                                    }
                                                </div>*@

                                            </div>
                                            <div class="col col-12 col-lg-6 product-detail">
                                                <p class="price">
                                                    <del>
                                                        <span class="woocommerce-Price-amount amount">
                                                            <span class="woocommerce-Price-currencySymbol">$</span>@item.Price
                                                        </span>
                                                    </del>
                                                    <ins>
                                                        <span class="woocommerce-Price-amount amount">
                                                            <span class="woocommerce-Price-currencySymbol">$</span>@item.DiscountPrice
                                                        </span>
                                                    </ins>
                                                </p>
                                                <div class="product-meta">
                                                    <div class="stock product-available in-stock">
                                                        <span class="stock in-stock">
                                                            @if (@item.InStock == true)
                                                            {
                                                                <span class="stock in-stock">In Stock</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="stock in-stock">Is Not In Stock</span>
                                                            }
                                                        </span>
                                                    </div>
                                                </div>
                                                <p>
                                                    @item.Info
                                                </p>
                                                <form class="cart single-ajax"
                                                      action="https://klbtheme.com/bacola/product/all-natural-italian-style-chicken-meatballs/"
                                                      method="post" enctype="multipart/form-data">

                                                    <div class="quantity">
                                                        <label class="screen-reader-text" for="quantity_65ca19e5d5c09">
                                                            @item.Title
                                                        </label>
                                                        <div class="quantity-button minus">
                                                            <i class="fa-solid fa-minus"></i>
                                                        </div>
                                                        <input type="text" id="quantity_65ca19e5d5c09"
                                                               class="input-text qty text" name="quantity" value="1"
                                                               aria-label="Product quantity" size="4" min="1" max="61" step="1"
                                                               placeholder="" inputmode="numeric" autocomplete="off">
                                                        <div class="quantity-button plus">
                                                            <i class="fa-solid fa-plus"></i>
                                                        </div>
                                                    </div>

                                                    <button type="submit" name="add-to-cart" value="430"
                                                            class="single_add_to_cart_button button alt">
                                                        Add to cart
                                                    </button>

                                                </form>

                                                <div class="product-actions">
                                                    <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart tinvwl-woocommerce_single_product_summary"
                                                         data-tinvwl_product_id="430">
                                                        <div class="tinv-wishlist-clear"></div><a role="button" tabindex="0"
                                                                                                  name="add-to-wishlist" aria-label="Add to Wishlist"
                                                                                                  class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-shortcode tinvwl-product-in-list"
                                                                                                  data-tinv-wl-list="{&quot;5603&quot;:{&quot;ID&quot;:5603,&quot;title&quot;:&quot;Default wishlist&quot;,&quot;status&quot;:&quot;share&quot;,&quot;share_key&quot;:&quot;6e6cc1&quot;,&quot;in&quot;:[0]}}"
                                                                                                  data-tinv-wl-product="430" data-tinv-wl-productvariation="0"
                                                                                                  data-tinv-wl-productvariations="[]"
                                                                                                  data-tinv-wl-producttype="simple"
                                                                                                  data-tinv-wl-action="addto">
                                                            <span class="tinvwl_add_to_wishlist-text">
                                                                <i class="fa-solid fa-heart"></i>Add to Wishlist
                                                            </span>
                                                        </a>
                                                        <div class="tinv-wishlist-clear"></div>
                                                        <div class="d-none tinvwl-tooltip">Add to Wishlist</div>
                                                    </div>
                                                    <button class="woosc-btn woosc-btn-430 " data-id="430"
                                                            data-product_name="All Natural Italian-Style Chicken Meatballs"
                                                            data-product_image="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-62-150x150.jpg">
                                                        <i class="fa-solid fa-code-compare"></i>Compare
                                                    </button>
                                                </div>

                                                <div class="product-checklist">
                                                    <ul>
                                                        <li>
                                                            <i class="fa-solid fa-check"></i>Type: @if (item.IsOrganic == true)
                                                            {
                                                                <span>Organic</span>
                                                            }
                                                            else
                                                            {
                                                                <span>Non-Organic</span>
                                                            }
                                                        </li>
                                                        <li><i class="fa-solid fa-check"></i>MFG: Jun 4.2021</li>
                                                        <li><i class="fa-solid fa-check"></i>LIFE: 30 days</li>
                                                    </ul>
                                                </div>
                                                <p class="p1">Category: <span>@item.Category.Name</span></p>
                                                @*<p class="p2">Tags: <span>@foreach(var item2 in item.TagProducts)
                                                    {

                                                    }</span></p>*@

                                                <div class="product-share">
                                                    <ul>
                                                        <li>
                                                            <a href="https://www.facebook.com/" class="facebook">
                                                                <i class="fa-brands fa-facebook"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="https://twitter.com/home" class="twitter">
                                                                <i class="fa-brands fa-twitter"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="http://pinterest.com/" class="pinterest">
                                                                <i class="fa-brands fa-pinterest"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="https://www.linkedin.com/" class="linkedin">
                                                                <i class="fa-brands fa-linkedin"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="https://www..com/" class="redit">
                                                                <i class="fa-brands fa-reddit-alien"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="https://www..com/" class="vhats">
                                                                <i class="fa-brands fa-whatsapp"></i>
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    }

    <!--Slider Section Start -->
    <section id="Hometop">
        <div class="container">
            <div class="row">
                <div class="left-part col-12 col-md-3 col-lg-3">
                    <div class="empty">
                        <div class="emptyp"></div>
                    </div>
                    <div class="oragnic col-xs-12">
                        <div class="banner-content">
                            <h5>Bacola Natural Foods</h5>
                            <h4>Special Organic</h4>
                            <h3>Roats Burger</h3>
                            <p>only-from</p>
                            <span>$14.99</span>
                        </div>
                        <div class="banner-img">
                            <img src="~/assets/img/home/banner-box.jpg" alt="">
                        </div>
                    </div>
                    <div class="fresh">
                        <div class="banner-content">
                            <h5>Best Bakery Products</h5>
                            <h4>Freshest Products</h4>
                            <h3>every hour.</h3>
                            <p>only-from</p>
                            <span>$24.99</span>
                        </div>
                        <div class="banner-img">
                            <img src="~/assets/img/home/bacola-banner-04.jpg" alt="">
                        </div>
                    </div>
                    <div class="iconboxes-widget">
                        <div class="item">
                            <i class="fa-regular fa-clock"></i>
                            <p>Download the Bacola App to your Phone.</p>
                        </div>
                        <div class="item">
                            <i class="fa-regular fa-clock"></i>
                            <p>Download the Bacola App to your Phone.</p>
                        </div>
                        <div class="item">
                            <i class="fa-regular fa-clock"></i>
                            <p>Download the Bacola App to your Phone.</p>
                        </div>
                    </div>
                    <div class="trend-p">
                        <div class="widget-title">
                            <h4>Trending Products</h4>
                        </div>
                        <div class="widget-body">
                            <div class="product-list">
                                @foreach (ProductGetDto item in Model.Products.Take(5))
                                {
                                    <div class="product">
                                        <div class="p-img">
                                            <a asp-controller="shop" asp-action="detail" asp-route-id="@item.Id"><img src="~/assets/img/product/@item.ProductImages.FirstOrDefault(x=>x.IsMain&&!x.IsDeleted)?.Image" alt=""></a>
                                        </div>
                                        <div class="p-content">
                                            <h3><a>@item.Title</a></h3>
                                            <del aria-hidden="true">
                                                <span class="woocommerce-Price-amount amount">
                                                    <bdi>
                                                        <span class="woocommerce-Price-currencySymbol">$</span>@item.Price
                                                    </bdi>
                                                </span>
                                            </del>
                                            <span class="woocommerce-Price-amount amount">
                                                <bdi>
                                                    <span class="woocommerce-Price-currencySymbol">$</span>@item.DiscountPrice.ToString("0.0");
                                                </bdi>
                                            </span>
                                        </div>
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                    <div class="customer-comment">
                        <h4 class="widget-title">Customer Comment</h4>
                        <div class="coment-body">
                            <h4 class="entry-title">The Best Marketplace</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut.
                            </p>
                            <div class="avatar">
                                <div class="avatar-img">
                                    <img src="~/assets/img/home/avatar-3.jpg" alt="">
                                </div>
                                <div class="avatar-title">
                                    <h3 class="customer-name">Tina Mcdonnell</h3>
                                    <span class="customer-mission">Sales Manager</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-part col-12 col-md-12 col-lg-9">
                    <div class="home-slider1">
                        @foreach (SliderGetDto item in Model.Sliders)
                        {
                            <div class="slider-item">
                                <div class="content-wrapper">
                                    <p>Exclusive Offer <span class="disc">% @item.DisCountPercent OFF</span></p>
                                    <h3 class="entry-title">@item.Title</h3>
                                    <div class="content-text">@item.Text</div>
                                    <div class="prices">
                                        <span class="price-text">from </span>
                                        <span class="price">$ @item.Price</span>
                                    </div>
                                    <div class="sbutton">
                                        <a href="" class="button button-secondary rounded" tabindex="0">
                                            Shop Now <i class="fa-solid fa-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="image-wrapper">
                                    <img src="~/assets/img/home/@item.Image" alt="">
                                </div>
                            </div>

                        }
                    </div>

                    <div class="best-seller">
                        <div class="best-head">
                            <div class="column">
                                <h4 class="entry-title">Best Sellers</h4>
                                <div class="entry-description">
                                    Do not miss the current offers until the end of
                                    March.
                                </div>
                            </div>
                            <div class="column2">
                                <a class="button2 button-info-default xsmall rounded"
                                   href="/shop.html">View All <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="best-body">
                            <div class="product-slider">
                                @foreach (ProductGetDto item in Model.Products)
                                {
                                    <div class="product">
                                        <div class="product-card">
                                            <div class="card-thumbnail">
                                                <div class="card-badges">
                                                    <span class="badge on-sale">@item.DiscountPercent%</span>
                                                    <span class="badge recommend">recommended</span>
                                                </div>
                                                <a asp-controller="shop" asp-action="detail" asp-route-id="@item.Id" class="img-box">
                                                    <img src="~/assets/img/product/@item.ProductImages.FirstOrDefault(x=>x.IsMain&&!x.IsDeleted)?.Image"
                                                         alt="card-img" />
                                                </a>
                                                <div class="card-buttons">
                                                    <button data-bs-target="#@(item.Title+item.Id)" class="show-detail-btn top-btn" data-bs-toggle="modal">
                                                        <i class="fa-solid fa-expand"></i>
                                                    </button>
                                                    <a asp-controller="shop" asp-action="AddWishlist" asp-route-id="@item.Id" class="whislist-btn top-btn">
                                                        <i class="fa-solid fa-heart"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="card-content">
                                                <h3 class="card-title">
                                                    <a href="" class="title-1">
                                                        @item.Title
                                                    </a>
                                                </h3>
                                                @if (item.InStock == true)
                                                {
                                                    <span class="stock-state">In Stock</span>
                                                }
                                                else
                                                {
                                                    <span class="stock-state">Is Not In Stock</span>
                                                }
                                                <div class="card-rating">
                                                    <i class="fa-solid fa-star rating-star"></i>
                                                    <i class="fa-solid fa-star rating-star"></i>
                                                    <i class="fa-solid fa-star rating-star"></i>
                                                    <i class="fa-solid fa-star rating-star"></i>
                                                    <i class="fa-solid fa-star rating-star"></i>
                                                </div>
                                                <div class="card-price">
                                                    <del>
                                                        <bdi>
                                                            <span class="price-amount old-price">@item.Price</span>
                                                        </bdi>
                                                    </del>
                                                    <ins>
                                                        <bdi><span class="price-amount new-price">@item.DiscountPrice</span></bdi>
                                                    </ins>
                                                </div>
                                                <div class="product-fade-block">
                                                    <div class="product-button-group">
                                                        <div class="quantity">
                                                            <div class="quantity-btn minus">
                                                                <a asp-controller="shop" asp-action="RemoveBasketItem" asp-route-id="@item.Id" class="btn-remove-basket  btn-plus">
                                                                    <i style="color:black"
                                                                       class="fa-solid fa-minus"></i>
                                                                </a>
                                                            </div>
                                                            <input style="border-left: 0px;border-right:0px" type="text"
                                                                   class="quantity-counter" name="quantity" min="0"
                                                                   max="57" step="1" value="1" />
                                                            <div class="quantity-btn plus">
                                                                <a asp-controller="shop" asp-action="Addbasket" asp-route-id="@item.Id" class="btn-add-basket  btn-minus">
                                                                    <i style="color: black;"
                                                                       class="fa-solid fa-plus"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="add-to-cart">
                                                            <a asp-controller="shop" asp-action="AddBasket" asp-route-id="@item.Id" class="btn btn-add-basket btn-primary">Add To Card</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="banner">
                        <div class="banner-content col-lg-6 col-xs-12">
                            <h4 class="sub-text color-info-dark">Always Taking Care</h4>
                            <h3 class="entry-title mini color-text-lighter">
                                In store or online your health &amp;
                                safety is our top priority.
                            </h3>
                        </div>
                        <div class="banner-img col-lg-6 col-xs-12">
                            <a href=""><img src="~/assets/img/home/banner-box2.jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="entry">
                        <div class="entry-top">
                            <div class="column">
                                <h4 class="entry-title">
                                    HOT PRODUCT FOR <span style="color:#ed174a;font-size: 1.1rem;font-weight: 600;">THIS WEEK</span>
                                </h4>
                                <div class="entry-description">
                                    Dont miss this opportunity at a special discount just
                                    for this week.
                                </div>
                            </div>
                            <div class="column2">
                                <a class="button2 button-info-default xsmall rounded"
                                   href="/shop.html">View All <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="entry-body">
                            <div class="product">
                                <div class="hot-sale">19%</div>
                                <div class="product-img">
                                    <a href=""><img src="~/assets/img/product/product-image-50.jpg" alt=""></a>
                                </div>
                                <div class="product-content">
                                    <div class="hot-product-header">
                                        <span class="price">
                                            <del aria-hidden="true">
                                                <span class="woocommerce-Price-amount amount">
                                                    <bdi>
                                                        <span class="woocommerce-Price-currencySymbol">$</span>5.49
                                                    </bdi>
                                                </span>
                                            </del>
                                            <ins>
                                                <span class="woocommerce-Price-amount amount">
                                                    <bdi>
                                                        <span class="woocommerce-Price-currencySymbol">$</span>4.49
                                                    </bdi>
                                                </span>
                                            </ins>
                                        </span>
                                    </div>
                                    <h3 class="product-title">
                                        <a href="https://klbtheme.com/bacola/product/chobani-complete-vanilla-greek-yogurt/">
                                            Chobani
                                            Complete Vanilla Greek Yogurt
                                        </a>
                                    </h3>
                                    <div class="product-meta">
                                        <div class="product-unit"> 1 kg</div>
                                        <div class="product-available in-stock">In Stock</div>
                                    </div>
                                    <div class="product-progress">
                                        <span class="progress" style="width: 88%;"></span>
                                    </div>
                                    <div class="product-expired">
                                        <div class="countdown" data-date="2024/04/11">
                                            <div class="count-item days">59</div><span>:</span>
                                            <div class="count-item hours">05</div><span>:</span>
                                            <div class="count-item minutes">06</div><span>:</span>
                                            <div class="count-item second">10</div>
                                        </div><!-- countdown -->
                                        <div class="expired-text">Remains until the end of the offer</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="new-product">
                        <div class="nproduct-top">
                            <div class="column">
                                <h4 class="entry-title">
                                    NEW PRODUCTS
                                </h4>
                                <div class="entry-description">
                                    Dont miss this opportunity at a special discount just
                                    for this week.
                                </div>
                            </div>
                            <div class="column2">
                                <a class="button2 button-info-default xsmall rounded"
                                   href="/shop.html">View All <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="container">
                            @foreach (ProductGetDto item in Model.Products)
                            {
                                <div class="product">
                                    <div class="product-card">
                                        <div class="card-thumbnail">
                                            <div class="card-badges">
                                                <span class="badge on-sale">@item.DiscountPercent%</span>
                                                <span class="badge recommend">recommended</span>
                                            </div>
                                            <a asp-controller="shop" asp-action="detail" asp-route-id="@item.Id" class="img-box">
                                                <img src="~/assets/img/product/@item.ProductImages.FirstOrDefault(x=>x.IsMain&&!x.IsDeleted)?.Image"
                                                     alt="card-img" />
                                            </a>
                                            <div class="card-buttons">
                                                <button data-bs-target="#@(item.Title+item.Id)" class="show-detail-btn top-btn" data-bs-toggle="modal">
                                                    <i class="fa-solid fa-expand"></i>
                                                </button>
                                                <a asp-controller="shop" asp-action="AddWishlist" asp-route-id="@item.Id" class="whislist-btn top-btn">
                                                    <i class="fa-solid fa-heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="card-content">
                                            <h3 class="card-title">
                                                <a href="" class="title-1">
                                                    @item.Title
                                                </a>
                                            </h3>
                                            @if (item.InStock == true)
                                            {
                                                <span class="stock-state">In Stock</span>
                                            }
                                            else
                                            {
                                                <span class="stock-state">Is Not In Stock</span>
                                            }
                                            <div class="card-rating">
                                                <i class="fa-solid fa-star rating-star"></i>
                                                <i class="fa-solid fa-star rating-star"></i>
                                                <i class="fa-solid fa-star rating-star"></i>
                                                <i class="fa-solid fa-star rating-star"></i>
                                                <i class="fa-solid fa-star rating-star"></i>
                                            </div>
                                            <div class="card-price">
                                                <del>
                                                    <bdi>
                                                        <span class="price-amount old-price">@item.Price</span>
                                                    </bdi>
                                                </del>
                                                <ins>
                                                    <bdi><span class="price-amount new-price">@item.DiscountPrice</span></bdi>
                                                </ins>
                                            </div>
                                            <div class="product-fade-block">
                                                <div class="product-button-group">
                                                    <div class="quantity">
                                                        <div class="quantity-btn minus">
                                                            <a asp-controller="shop" asp-action="RemoveBasketItem" asp-route-id="@item.Id" class="btn-remove-basket  btn-plus">
                                                                <i style="color:black"
                                                                   class="fa-solid fa-minus"></i>
                                                            </a>
                                                        </div>
                                                        <input style="border-left: 0px;border-right:0px" type="text"
                                                               class="quantity-counter" name="quantity" min="0"
                                                               max="57" step="1" value="1" />
                                                        <div class="quantity-btn plus">
                                                            <a asp-controller="shop" asp-action="Addbasket" asp-route-id="@item.Id" class="btn-add-basket  btn-minus">
                                                                <i style="color: black;"
                                                                   class="fa-solid fa-plus"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a asp-controller="shop" asp-action="AddBasket" asp-route-id="@item.Id" class="btn btn-add-basket btn-primary">Add To Card</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                    <div class="weekenddis">
                        <div class="row">
                            <div class="col-lg-6 col-xs-12">
                                <div class="bannerpart">
                                    <div class="banner-content">
                                        <div class="discount-text color-success">Weekend Discount 40%</div>
                                        <h3 class="entry-title color-text-light">Legumes &amp; Cereals</h3>
                                        <div class="entry-text color-info-dark">Feed your family the best </div>
                                        <a href="/shop.html" class="button button-info-dark rounded xsmall">
                                            Shop
                                            Now
                                        </a>
                                    </div>
                                    <div class="banner-img">
                                        <img src="~/assets/img/home/bacola-banner-01.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <div class="bannerpart">
                                    <div class="banner-content">
                                        <div class="discount-text color-success">Weekend Discount 40%</div>
                                        <h3 class="entry-title color-text-light">Legumes &amp; Cereals</h3>
                                        <div class="entry-text color-info-dark">Feed your family the best </div>
                                        <a href="/shop.html" class="button button-info-dark rounded xsmall">
                                            Shop
                                            Now
                                        </a>
                                    </div>
                                    <div class="banner-img">
                                        <img src="~/assets/img/home/bacola-banner-02.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="Homebottom">
        <div class="container">
            <div class="row">
                <div class="post-top">
                    <div class="column">
                        <h4 class="entry-title">Popular Blogs</h4>
                        <div class="entry-description">Do not miss the current offers until the end of March.</div>
                    </div>
                    <div class="column2">
                        <a class="button2 button-info-default xsmall rounded"
                           href="/shop.html">View All <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
                @foreach (BlogGetDto item in Model.Blogs.OrderByDescending(x => x.Date).Take(3))
                {
                    <div class="col-12 col-lg-4">
                        <div class="post">
                            <div class="post-img">
                                <a asp-controller="Blog" asp-action="detail" asp-route-id="@item.Id"><img src="~/assets/img/blog/@item.Image" alt=""></a>
                            </div>
                            <div class="post-content">
                                <p>@item.CategoryGetDto.Name</p>
                                <h2 class="entry-title">
                                    <a href="https://klbtheme.com/bacola/blog/but-i-must-explain-to-you-how-all-this-mistaken-idea/">
                                        @item.Title
                                    </a>
                                </h2>
                                <div class="entry-meta">
                                    <span class="meta-item entry-published"
                                          itemprop="datePublished">
                                        <a href="https://klbtheme.com/bacola/blog/but-i-must-explain-to-you-how-all-this-mistaken-idea/"
                                           itemprop="url">@item.Date.ToString("dd.mm.yy")</a>
                                    </span><span class="meta-item entry-comments"><a href="#">3 comments</a> </span><span class="meta-item entry-author" itemprop="author" itemscope="itemscope"
                                                                                                                          itemtype="http://schema.org/Person">
                                        <span class="meta-separator">by </span><a href="https://klbtheme.com/bacola/blog/but-i-must-explain-to-you-how-all-this-mistaken-idea/"
                                                                                  rel="author" class="url fn n" itemprop="url">
                                            <span itemprop="name">Bacola</span>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>
    <!-- Slider Section end -->
</main>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>document.addEventListener("DOMContentLoaded", function () {
        const resetPasswordData = document.getElementById("resetpassword");
        if (resetPasswordData !== null) {
            const Toast = Swal.mixin({
                toast: true,
                position: "top-right",
                showConfirmButton: false,
                timer: 10000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.onmouseenter = Swal.stopTimer;
                    toast.onmouseleave = Swal.resumeTimer;
                }
            });
            Toast.fire({
                icon: "warning",
                iconColor: "#007bff",
                title: "Please go to your email to reset your password"
            });
        }

        const verifyData = document.getElementById("verify");
        if (verifyData !== null) {
            const Toast = Swal.mixin({
                toast: true,
                position: "top-right",
                showConfirmButton: false,
                timer: 10000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.onmouseenter = Swal.stopTimer;
                    toast.onmouseleave = Swal.resumeTimer;
                }
            });
            Toast.fire({
                icon: "warning",
                iconColor: "#007bff",
                title: "Please verify your email"
            });
        }

        const updateData = document.getElementById("update");
        if (updateData !== null) {
            const Toast = Swal.mixin({
                toast: true,
                position: "top-right",
                showConfirmButton: false,
                timer: 10000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.onmouseenter = Swal.stopTimer;
                    toast.onmouseleave = Swal.resumeTimer;
                }
            });
            Toast.fire({
                icon: "warning",
                iconColor: "#007bff",
                title: "Your account has been updated successfully"
            });
        }
    });</script>


