@model PagginatedResponse<ProductGetDto>
<div class="page-body">
    <!-- All User Table Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="title-header option-title">
                            <h5>All Products</h5>
                            <form class="d-inline-flex">
                                <a asp-action="create"
                                   class="align-items-center btn btn-theme d-flex">
                                    <i data-feather="plus-square"></i>Add New
                                </a>
                            </form>
                        </div>

                        <div class="table-responsive category-table">
                            <div>
                                <table class="table all-package theme-table" id="table_id">
                                    <thead>
                                        <tr>
                                            <th>Product Id</th>
                                            <th>Product Name</th>
                                            <th>Category</th>
                                            <th>Product Image</th>
                                            <th>Options</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (ProductGetDto item in Model.Items)
                                        {
                                            <tr>
                                                <td>@item.Id</td>
                                                <td>@item.Title</td>
                                                <td>@item.Category.Name</td>
                                                <td>
                                                    <div class="table-image">
                                                        <img src="~/assets/img/product/@item.ProductImages.FirstOrDefault(x=>x.IsMain&&!x.IsDeleted)?.Image">
                                                    </div>
                                                </td>
                                                <td>
                                                    <a onclick="return confirm('are you sure?')" asp-action="remove" asp-route-id="@item.Id" class="badge badge-danger">Remove</a>
                                                    <a asp-action="update" asp-route-id="@item.Id" class="badge badge-warning">Update</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                                <nav style="display: flex; align-items: center; justify-content: center;margin-top:30px" aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                                            <a class="page-link" asp-action="Index" asp-route-page="@(Model.CurrentPage - 1)" tabindex="-1">Previous</a>
                                        </li>
                                        @for (int i = 1; i <= Model.TotalPages; i++)
                                        {
                                            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                                                <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                                            </li>
                                        }
                                        <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
                                            <a class="page-link" asp-action="Index" asp-route-page="@(Model.CurrentPage + 1)">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

