
@model ProductGetDto
<div class="page-body">
    <!-- New Product Add Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-8 m-auto">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-header-2">
                                    <h5>Product Information</h5>
                                </div>
                                <form enctype="multipart/form-data" method="post">
                                    <div class="alert alert-info" asp-validation-summary="ModelOnly"></div>
                                    <div style="align-items:center" class="mb-4 row align-items-center">
                                        <label asp-for="Title" class="form-label-title col-sm-3 mb-0">Product Title</label>
                                        <div class="col-sm-9">
                                            <input asp-for="Title" class="form-control" type="text" placeholder="Product Title">

                                        </div>
                                    </div>
                                    <div style="align-items:center" class="mb-4 row align-items-center">
                                        <label asp-for="Description" class="form-label-title col-sm-3 mb-0">Product Description</label>
                                        <div class="col-sm-9">
                                            <input asp-for="Description" class="form-control" type="text" placeholder="Product Description">

                                        </div>
                                    </div>
                                    <div style="align-items:center" class="mb-4 row align-items-center">
                                        <label asp-for="Info" class="form-label-title col-sm-3 mb-0">Product Info</label>
                                        <div class="col-sm-9">
                                            <input asp-for="Info" class="form-control" type="text" placeholder="Product Info">

                                        </div>
                                    </div>
                                    <div class="mb-4 row align-items-center">
                                        <label class="col-sm-3 col-form-label form-label-title">In Stock</label>
                                        <div style="width:75%" class="form-group">
                                            <select asp-for="InStock" class="form-select" aria-label="Default select example">
                                                <option selected>Organic or Not</option>
                                                <option value="true">In Stock</option>
                                                <option value="false">IsNotInStock</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="mb-4 row align-items-center">
                                        <label class="col-sm-3 col-form-label form-label-title">Is Organic</label>
                                        <div style="width:75%" class="form-group">
                                            <select asp-for="IsOrganic" class="form-select" aria-label="Default select example">
                                                <option selected>Organic or Not</option>
                                                <option value="true">Organic</option>
                                                <option value="false">Non-Organic</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div style="align-items:center" class="mb-4 row align-items-center">
                                        <label asp-for="Price" class="form-label-title col-sm-3 mb-0">Product Price</label>
                                        <div class="col-sm-9">
                                            <input asp-for="Price" class="form-control" type="text" placeholder="Product Price">

                                        </div>
                                    </div>
                                    <div style="align-items:center" class="mb-4 row align-items-center">
                                        <label asp-for="DiscountPercent" class="form-label-title col-sm-3 mb-0">DiscountPercent</label>
                                        <div class="col-sm-9">
                                            <input asp-for="DiscountPercent" class="form-control" type="text" placeholder="DiscountPercent">

                                        </div>
                                    </div>
                                    <div style="align-items:center" class="mb-4 row align-items-center">
                                        <label asp-for="PeriodOfUse" class="form-label-title col-sm-3 mb-0">Product PeriodOfUse</label>
                                        <div class="col-sm-9">
                                            <input asp-for="PeriodOfUse" class="form-control" type="text" placeholder="Product PeriodOfUse">

                                        </div>
                                    </div>
                                    @*<div style="align-items:center" class="mb-4 row align-items-center">
                                        <label asp-for="DiscountPrice" class="form-label-title col-sm-3 mb-0">Product DiscountPrice</label>
                                        <div class="col-sm-9">
                                            <input asp-for="DiscountPrice" class="form-control" type="text" placeholder="Product DiscountPrice">

                                        </div>
                                    </div>*@
                                    <div style="margin:50px 0px" class="form-group d-flex">
                                        <label style="margin-right:5px" class="col-sm-3 col-lg-3 col-form-label form-label-title">Last Image</label>
                                        <img style="width:50%" class="col-lg-9" src="~/assets/img/product/@Model.ProductImages.Where(x=>!x.IsDeleted&&x.IsMain).FirstOrDefault()?.Image" />" 
                                    </div>
                                    <div style="margin:50px 0px" class="form-group ">
                                        <div style="display:flex">
                                            <label style="margin-right:5px" class="col-sm-3 col-lg-3 col-form-label form-label-title">Main Images</label>
                                            <input type="file" accept="image/*" name="MainImageFile" class="form-control" placeholder="MainImage">
                                        </div>

                                    </div>
                                    <div style="margin:50px 0px" class="form-group d-flex">
                                        <label style="margin-right:5px;overflowhidden" class="col-sm-3 col-lg-3 col-form-label form-label-title">Last Selected</label>
                                        @foreach (var item in Model.ProductImages.Where(x => x.IsDeleted == false && !x.IsMain))
                                        {
                                            <img class="otherimages" data-id="@item.Id" style="margin:10px;width:100px;height:100px" src="~/assets/img/product/@item.Image">
                                        }
                                    </div>
                                    <div style="margin:50px 0px" class="form-group ">
                                        <div style="display:flex">
                                            <label style="margin-right:5px" class="col-sm-3 col-lg-3 col-form-label form-label-title">Addition Images</label>
                                            <input multiple accept="image/*" type="file" name="ProductImageFile" class="form-control" placeholder="AdditionImages">
                                        </div>
                                    </div>

                                    <div class="mb-4 row align-items-center">
                                        <label class="col-sm-3 col-form-label form-label-title">Category</label>
                                        <div style="width:75%" class="form-group">
                                            <select asp-for="CategoryId" class="form-select" aria-label="Default select example">
                                                <option disabled>Categories</option>
                                                @foreach (var item in ViewBag.Categories)
                                                {
                                                    if (item.ParentCategoryId == null)
                                                    {
                                                        <option value="@item.Id">@item.Name</option>
                                                    }
                                                }
                                            </select>

                                        </div>
                                    </div>
                                    <div class="mb-4 row align-items-center">
                                        <label class="col-sm-3 col-form-label form-label-title">Brand</label>
                                        <div style="width:75%" class="form-group">
                                            <select asp-for="BrandId" class="form-select" aria-label="Default select example">
                                                <option disabled>Brands</option>
                                                @foreach (var item in ViewBag.Brands)
                                                {

                                                    <option value="@item.Id">@item.Name</option>

                                                }
                                            </select>

                                        </div>
                                    </div>
                                    <div class="mb-4 row align-items-center">
                                        <label class="col-lg-3 col-form-label form-label-title">Multiple Tags</label>
                                        <div class="col-lg-9">
                                            <div class="form-group">
                                                <select asp-for="TagProducts" class="form-select" aria-label="Default select example">

                                                    @foreach (var item in ViewBag.Tags)
                                                    {
                                                        <option value="@item.Id">@item.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row col-12">
                                        @foreach (var item in Model.Specifications)
                                        {
                                            <div class="form-group" id="form-container">
                                                <label style="margin-bottom:20px" class="form-label-title">Specification Keys and Values</label>
                                                <div style="display:flex;justify-content:space-between;align-items:center;margin-bottom:10px">
                                                    <input style="margin-right:5px" class="form-control " type="text" class="key" placeholder="Key">

                                                    <input style="margin-right:5px" class="form-control" type="text" class="value" placeholder="Value">

                                                    <button style="font-size:20px;padding:5px 10px;margin-right:5px" type="button" class="add-btn btn-primary">+</button>
                                                    <button style="font-size:20px;padding:5px 10px;margin-right:5px" type="button" class="remove-btn btn-primary">-</button>
                                                </div>

                                            </div>
                                        }
                                    </div>
                                    <div style="display:flex;justify-content:space-around" class="buttons">
                                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                                        <button class="btn btn-light">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>document.addEventListener('DOMContentLoaded', function () {
        const formContainer = document.getElementById('form-container');
        function addFormGroup() {
            const formGroup = document.createElement('div');
            formGroup.classList.add('form-group');
            formGroup.innerHTML = `
                       <div style="display:flex;justify-content:space-between;align-items:center;margin-bottom:10px">
                                                <input style="margin-right:5px" class="form-control"  type="text" class="key" placeholder="Key" asp-for="SpecificationKeys">
                                                <span asp-validation-for="SpecificationKeys"></span>
                                                <input style="margin-right:5px" class="form-control"  type="text" class="value" placeholder="Value" asp-for="SpecificationValues">
                                                <span asp-validation-for="SpecificationValues"></span>
                                                <button style="font-size:20px;padding:5px 10px;margin-right:5px"type="button" class="add-btn btn-primary">+</button>
                                                <button style="font-size:20px;padding:5px 10px;margin-right:5px" type="button" class="remove-btn btn-primary">-</button>
                                            </div>
                `;
            formContainer.appendChild(formGroup);
            const addBtns = document.querySelectorAll('.add-btn');
            const removeBtns = document.querySelectorAll('.remove-btn');
            addBtns.forEach(btn => btn.addEventListener('click', addFormGroup));
            removeBtns.forEach(btn => btn.addEventListener('click', removeFormGroup));
        }
        function removeFormGroup(event) {
            const formGroup = event.target.closest('.form-group');
            if (formGroup !== null && formContainer.children.length > 1) {
                formContainer.removeChild(formGroup);
            }
        }
        const addBtn = document.querySelector('.add-btn');
        addBtn.addEventListener('click', addFormGroup);
        const removeBtn = document.querySelector('.remove-btn');
        removeBtn.addEventListener('click', removeFormGroup);
    });</script>


