@model ShopViewModel

@if (!string.IsNullOrWhiteSpace((string)TempData["AddBasket"]))
{
    <div style="display:none" id="basket">@TempData["AddBasket"]</div>
}
@if (!string.IsNullOrWhiteSpace((string)TempData["AddWishlist"]))
{
    <div style="display:none" id="wishlist">@TempData["AddWishlist"]</div>
}
@inject CategoryService _categoryService
@{

    var categories = await _categoryService.GetAllAsync();
}
@inject BrandService _brandService
@{

    var brands = await _brandService.GetAllAsync();
}

<main>
    <a asp-controller="shop" asp-action="index">
        <i id="Up" style="z-index:100" class="fa-solid fa-chevron-up"></i>
    </a>
    @foreach (var item in Model.Products.Items)
    {
        <div aria-labelledby="@(item.Title+item.Id)Label" id="@(item.Title+item.Id)" class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                      
                        </button>
                    </div>
                    <div class="modal-body">
                        <section id="Productcart">
                            <div class="container">

                                <div class="single-wrapper">
                                    <div class="product-header">
                                        <h1 class="product_title entry-title">
                                            @item.Title
                                        </h1>
                                        <div class="bottom">
                                            <div class="product-brand">
                                                <p>
                                                    Brands: <span>@item.Brand.Name</span>
                                                </p>
                                          </div>
                                            <div class="star-rating">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <span>1 review</span>
                                            </div>
                                            <div class="sku-wrapper">
                                                <span class="first">SKU: <span>ZU49VOR</span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <div class="row">
                                            <div class="col-lg-6 product-slid">

                                                <div class="main-img2">
                                                    @if (@item.ProductImages.Any(x => x.IsMain && !x.IsDeleted))
                                                    {
                                                        <img style="width:100%" src="~/assets/img/product/@item.ProductImages.First(x => x.IsMain && !x.IsDeleted).Image" alt="">
                                                    }
                                                </div>

                                            </div>
                                            <div class="col col-12 col-lg-6 product-detail">
                                                <p class="price">
                                                    <del>
                                                        <span class="woocommerce-Price-amount amount">
                                                            <span class="woocommerce-Price-currencySymbol">$</span>@item.Price
                                                        </span>
                                                    </del>
                                                    <ins>
                                                        <span class="woocommerce-Price-amount amount">
                                                            <span class="woocommerce-Price-currencySymbol">$</span>@item.DiscountPrice
                                                        </span>
                                                    </ins>
                                                </p>
                                                <div class="product-meta">
                                                    <div class="stock product-available in-stock">
                                                        <span class="stock in-stock">
                                                            @if (@item.InStock == true)
                                                            {
                                                                <span class="stock in-stock">In Stock</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="stock in-stock">Is Not In Stock</span>
                                                            }
                                                        </span>
                                                    </div>
                                                </div>
                                                <p>
                                                    @item.Info
                                                </p>
                                                <form class="cart single-ajax"
                                                      action=""
                                                      method="post" enctype="multipart/form-data">

                                                    <div class="quantity">
                                                        <label class="screen-reader-text" for="quantity_65ca19e5d5c09">
                                                            @item.Title
                                                        </label>
                                                        <div class="quantity-button minus">
                                                            <i class="fa-solid fa-minus"></i>
                                                        </div>
                                                        <input type="text" id="quantity_65ca19e5d5c09"
                                                               class="input-text qty text" name="quantity" value="1"
                                                               aria-label="Product quantity" size="4" min="1" max="61" step="1"
                                                               placeholder="" inputmode="numeric" autocomplete="off">
                                                        <div class="quantity-button plus">
                                                            <i class="fa-solid fa-plus"></i>
                                                        </div>
                                                    </div>

                                                    <button type="submit" name="add-to-cart" value="430"
                                                            class="single_add_to_cart_button button alt">
                                                        Add to cart
                                                    </button>

                                                </form>

                                                <div class="product-actions">
                                                    <div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart tinvwl-woocommerce_single_product_summary"
                                                         data-tinvwl_product_id="430">
                                                        <div class="tinv-wishlist-clear"></div><a role="button" tabindex="0"
                                                                                                  name="add-to-wishlist" aria-label="Add to Wishlist"
                                                                                                  class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-position-shortcode tinvwl-product-in-list"
                                                                                                  data-tinv-wl-list="{&quot;5603&quot;:{&quot;ID&quot;:5603,&quot;title&quot;:&quot;Default wishlist&quot;,&quot;status&quot;:&quot;share&quot;,&quot;share_key&quot;:&quot;6e6cc1&quot;,&quot;in&quot;:[0]}}"
                                                                                                  data-tinv-wl-product="430" data-tinv-wl-productvariation="0"
                                                                                                  data-tinv-wl-productvariations="[]"
                                                                                                  data-tinv-wl-producttype="simple"
                                                                                                  data-tinv-wl-action="addto">
                                                            <span class="tinvwl_add_to_wishlist-text">
                                                                <i class="fa-solid fa-heart"></i>Add to Wishlist
                                                            </span>
                                                        </a>
                                                        <div class="tinv-wishlist-clear"></div>
                                                        <div class="d-none tinvwl-tooltip">Add to Wishlist</div>
                                                    </div>
                                                    <button class="woosc-btn woosc-btn-430 " data-id="430"
                                                            data-product_name="All Natural Italian-Style Chicken Meatballs"
                                                            data-product_image="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-62-150x150.jpg">
                                                        <i class="fa-solid fa-code-compare"></i>Compare
                                                    </button>
                                                </div>

                                                <div class="product-checklist">
                                                    <ul>
                                                        <li>
                                                            <i class="fa-solid fa-check"></i>Type: @if (item.IsOrganic == true)
                                                            {
                                                                <span>Organic</span>
                                                            }
                                                            else
                                                            {
                                                                <span>Non-Organic</span>
                                                            }
                                                        </li>
                                                        <li><i class="fa-solid fa-check"></i>MFG: Jun 4.2021</li>
                                                        <li><i class="fa-solid fa-check"></i>LIFE: 30 days</li>
                                                    </ul>
                                                </div>
                                                <p class="p1">Category: <span>@item.Category.Name</span></p>
                                                @*<p class="p2">Tags: <span>@foreach(var item2 in item.TagProducts)
                                                    {

                                                    }</span></p>*@

                                                <div class="product-share">
                                                    <ul>
                                                        <li>
                                                            <a href="https://www.facebook.com/" class="facebook">
                                                                <i class="fa-brands fa-facebook"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="https://twitter.com/home" class="twitter">
                                                                <i class="fa-brands fa-twitter"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="http://pinterest.com/" class="pinterest">
                                                                <i class="fa-brands fa-pinterest"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="https://www.linkedin.com/" class="linkedin">
                                                                <i class="fa-brands fa-linkedin"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="https://www..com/" class="redit">
                                                                <i class="fa-brands fa-reddit-alien"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="https://www..com/" class="vhats">
                                                                <i class="fa-brands fa-whatsapp"></i>
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    }
    <section id="Shop-part">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-3 content-primary">
                    <div onchange="this.form.submit()">

                        <div class="product-filters">
                            <div class="product-category">
                                <h4 class="widget-title">Product Categories</h4>
                                <div class="category-part site-scroll ps ps--active-y ps--scrolling-y"
                                     style="max-height: 200px; overflow-y: auto;">
                                    <ul>
                                        @foreach (var item in categories)
                                        {
                                            @if (item.ParentCategoryId == null)
                                            {
                                                <li class="cat-parent">
                                                    <div style="display: flex; justify-content:space-between" class="cpart">
                                                       <form method="post" asp-controller="Shop" asp-action="FilterProducts">
                                                           <a class="product_cat">
                                                             <button type="submit">
                                                                 @*<input asp-for="Filter.categoryId.ToString()" id="checkbox" type="checkbox">*@
                                                             </button>
                                                               <label>@item.Name</label>
                                                           </a>
                                                       </form>
                                                        <div class="icon">
                                                            <i data-target="subcategories-@item.Id" style="color:black; margin-right:20px" class="toggleIcon fa-solid fa-plus"></i>
                                                        </div>
                                                    </div>
                                                    <ul id="subcategories-@item.Id" class="children" style="display:none">
                                                        @foreach (var item2 in item.Subcategories)
                                                        {
                                                            <li>
                                                                <a>
                                                                    <input  name="" value="" id="checkbox" type="checkbox">
                                                                    <label><span></span>@item2.Name</label>
                                                                </a>
                                                            </li>
                                                            }
                                                    </ul>       
                                                </li>
                                                }
                                        }
                                    </ul>

                                </div>
                            </div>
                            
                                <div class="price-filter">
                                    <h4 class="widget-title">Filter by price</h4>
                                    <div>
                                        <form>
                                            <div class="wrapper">
                                                <div class="slider">
                                                    <div class="progress"></div>
                                                </div>
                                                <div class="range-input">
                                                    <input type="range" class="range-min" min="0" max="100" value="0"
                                                           step="10" />
                                                    <input type="range" class="range-max" min="0" max="100" value="70"
                                                           step="10" />
                                                </div>
                                                <div class="price-input">
                                                    <div class="field">
                                                        <p>Price:</p>
                                                        <span class="input-min price-value"></span>
                                                        -
                                                        <span class="input-max price-value"></span>
                                                    </div>
                                                    <div class="leftfilter">
                                                        <button type="submit" class="button">Filter</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
               
                            <div class="product-status">
                                <h4 class="widget-title">Product Status</h4>
                                <div class="status">
                                    <ul>
                                        <li>
                                            <a href="">
                                                <input name="stockonsale" value="instock" id="instock" type="checkbox">
                                                <label>
                                                    In Stock
                                                </label>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <input name="stockonsale" value="instock" id="instock" type="checkbox">
                                                <label>
                                                    Is Not In Stock
                                                </label>
                                            </a>
                                        </li>

                                    </ul>

                                </div>
                            </div>

                            <div class="product-brand">
                                <h4 class="widget-title">Brands</h4>
                                <ul>

                                    @foreach (var item in brands)
                                    {
                                        <li>
                                            <a >
                                                <input name="" value="" id="checkbox" type="checkbox" >
                                                <label>
                                                    @item.Name
                                                </label>
                                            </a>

                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="product-banner">
                                <img src="~/assets/img/shop/shop-banner2.gif" alt="">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-md-12 col-lg-9 shop-primary">
                    <div class="shop-banner">
                        <div class="banner-img">
                            <img src="~/assets/img/shop/shop-banner.jpeg" alt="">
                        </div>
                        <div class="banner-content">
                            <h4 class="entry-subtitle color-text xlight">Organic Meals Prepared</h4>
                            <h3 class="entry-title color-text large">
                                Delivered to <strong class="color-success">
                                    your
                                    Home
                                </strong>
                            </h3>
                            <p>Fully prepared & delivered nationwide.</p>
                        </div>
                    </div>
                    <div class="before-shop-loop">
                        <div class="left">
                            <a href=""><i class="fa-solid fa-bars"></i></a>
                            <a href=""><i class="fa-solid fa-grip"></i></a>
                            <a href=""><i class="fa-solid fa-grip-vertical"></i></a>
                            <a class="shop-viewactive" href=""><i class="fa-solid fa-braille"></i></a>
                        </div>
                        <div class="right">
                            <select class="first" name="" id="">
                                <option value="">Sort by popularity</option>
                                <option selected value="">Sort by average rating</option>
                                <option value="">Sort by latest</option>
                                <option value="">Sort by price: low to high</option>
                                <option value="">Sort by price: high to low</option>
                            </select>
                            <select class="second" name="" id="">
                                <option value="">Show 12</option>
                                <option value="">Show 24</option>
                                <option value="">Show 36</option>
                                <option value="">Show 48</option>
                            </select>
                        </div>
                    </div>
                    <div class="container" id="salam" >
                    
                        @foreach (ProductGetDto item in Model.Products.Items)
                        {
                            <div class="product">
                                <div class="product-card">
                                    <div class="card-thumbnail">
                                        <div class="card-badges">
                                            <span class="badge on-sale">@item.DiscountPercent</span>
                                            <span class="badge recommend">recommended</span>
                                        </div>
                                        <a asp-controller="shop" asp-action="detail" asp-route-id="@item.Id" class="img-box">
                                            <img src="~/assets/img/product/@item.ProductImages.FirstOrDefault(x=>x.IsMain&&!x.IsDeleted)?.Image"
                                                 alt="card-img" />
                                        </a>
                                        <div class="card-buttons">
                                            <button data-bs-target="#@(item.Title+item.Id)" class="show-detail-btn top-btn" data-bs-toggle="modal">
                                                <i class="fa-solid fa-expand"></i>
                                            </button>
                                            <a asp-controller="shop" asp-action="AddWishlist" asp-route-id="@item.Id" class="whislist-btn top-btn">
                                                <i class="fa-solid fa-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <h3 class="card-title">
                                            <a href="" class="title-1">
                                                @item.Title
                                            </a>
                                        </h3>
                                        @if (item.InStock == true)
                                        {
                                            <span class="stock-state">In Stock</span>
                                        }
                                        else
                                        {
                                            <span class="stock-state">IsNotInStock</span>
                                        }
                                        <div class="card-rating">
                                            <i class="fa-solid fa-star rating-star"></i>
                                            <i class="fa-solid fa-star rating-star"></i>
                                            <i class="fa-solid fa-star rating-star"></i>
                                            <i class="fa-solid fa-star rating-star"></i>
                                            <i class="fa-solid fa-star rating-star"></i>
                                        </div>
                                        <div class="card-price">
                                            <del>
                                                <bdi>
                                                    <span class="price-amount old-price">@item.Price</span>
                                                </bdi>
                                            </del>
                                            <ins>
                                                <bdi><span class="price-amount new-price">@item.DiscountPrice</span></bdi>
                                            </ins>
                                        </div>
                                        <div class="product-fade-block">
                                            <div class="product-button-group">
                                                <div class="quantity">
                                                    <div class="quantity-btn minus">
                                                        <a asp-controller="shop" asp-action="RemoveBasketItem" asp-route-id="@item.Id" class="btn-remove-basket  btn-plus">
                                                            <i style="color:black"
                                                               class="fa-solid fa-minus"></i>
                                                        </a>
                                                    </div>
                                                    <input style="border-left: 0px;border-right:0px" type="text"
                                                           class="quantity-counter" name="quantity" min="0"
                                                           max="57" step="1" value="1" />
                                                    <div class="quantity-btn plus">
                                                        <a asp-controller="shop" asp-action="Addbasket" asp-route-id="@item.Id" class="btn-add-basket  btn-minus">
                                                            <i style="color: black;"
                                                               class="fa-solid fa-plus"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a asp-controller="shop" asp-action="AddBasket" asp-route-id="@item.Id" class="btn btn-add-basket btn-primary">Add To Card</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                    <nav style="display: flex; align-items: center; justify-content: center;" aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item @(1==Model.Products.CurrentPage? "disabled":null)">
                                <a class="page-link" asp-action="Index" asp-route-page="@(Model.Products.CurrentPage-1)" tabindex="-1">Previous</a>
                            </li>
                            @for (int i = 1; i <= Model.Products.TotalPages; i++)
                            {
                                <li class="page-item @(i==Model.Products.CurrentPage? "disabled":null)"><a class="page-link" asp-action="Index" asp-route-page="@i">@i</a></li>

                            }
                            <li class="page-item @(Model.Products.TotalPages==Model.Products.CurrentPage? "disabled":null)">
                                <a class="page-link" asp-action="Index" asp-route-page="@(Model.Products.CurrentPage+1)">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section id="Shop-bottom">
        <div class="container">
            <div class="recently">
                <div class="related-head">
                    <div class="column">
                        <h4 class="entry-title">RECENTLY VIEWED PRODUCTS</h4>

                    </div>
                    <div class="rproduct-body">
                        <div class="products">
                            @foreach (ProductGetDto item in Model.Products.Items.Take(4))
                            {
                                <div class="product">
                                    <div class="product-card">
                                        <div class="card-thumbnail">
                                            <div class="card-badges">
                                                <span class="badge on-sale">@item.DiscountPercent%</span>
                                                <span class="badge recommend">recommended</span>
                                            </div>
                                            <a asp-controller="shop" asp-action="detail" asp-route-id="@item.Id" class="img-box">
                                                <img src="~/assets/img/product/@item.ProductImages.FirstOrDefault(x=>x.IsMain&&!x.IsDeleted)?.Image"
                                                     alt="card-img" />
                                            </a>
                                            <div class="card-buttons">
                                                <button data-bs-target="#@(item.Title+item.Id)" class="show-detail-btn top-btn" data-bs-toggle="modal">
                                                    <i class="fa-solid fa-expand"></i>
                                                </button>
                                                <a asp-controller="shop" asp-action="AddWishlist" asp-route-id="@item.Id" class="whislist-btn top-btn">
                                                    <i class="fa-solid fa-heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="card-content">
                                            <h3 class="card-title">
                                                <a href="" class="title-1">
                                                    @item.Title
                                                </a>
                                            </h3>
                                            @if (item.InStock == true)
                                            {
                                                <span class="stock-state">In Stock</span>
                                            }
                                            else
                                            {
                                                <span class="stock-state">Is Not In Stock</span>
                                            }
                                            <div class="card-rating">
                                                <i class="fa-solid fa-star rating-star"></i>
                                                <i class="fa-solid fa-star rating-star"></i>
                                                <i class="fa-solid fa-star rating-star"></i>
                                                <i class="fa-solid fa-star rating-star"></i>
                                                <i class="fa-solid fa-star rating-star"></i>
                                            </div>
                                            <div class="card-price">
                                                <del>
                                                    <bdi>
                                                        <span class="price-amount old-price">@item.Price</span>
                                                    </bdi>
                                                </del>
                                                <ins>
                                                    <bdi><span class="price-amount new-price">@item.DiscountPrice</span></bdi>
                                                </ins>
                                            </div>
                                            <div class="product-fade-block">
                                                <div class="product-button-group">
                                                    <div class="quantity">
                                                        <div class="quantity-btn minus">
                                                            <a asp-controller="shop" asp-action="RemoveBasketItem" asp-route-id="@item.Id" class="btn-remove-basket  btn-plus">
                                                                <i style="color:black"
                                                                   class="fa-solid fa-minus"></i>
                                                            </a>
                                                        </div>
                                                        <input style="border-left: 0px;border-right:0px" type="text"
                                                               class="quantity-counter" name="quantity" min="0"
                                                               max="57" step="1" value="1" />
                                                        <div class="quantity-btn plus">
                                                            <a asp-controller="shop" asp-action="Addbasket" asp-route-id="@item.Id" class="btn-add-basket  btn-minus">
                                                                <i style="color: black;"
                                                                   class="fa-solid fa-plus"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a asp-controller="shop" asp-action="AddBasket" asp-route-id="@item.Id" class="btn btn-add-basket btn-primary">Add To Card</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>document.addEventListener("DOMContentLoaded", function () {
        const resetPasswordData = document.getElementById("basket");
        if (resetPasswordData !== null) {
            const Toast = Swal.mixin({
                toast: true,
                position: "top-right",
                showConfirmButton: false,
                timer: 10000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.onmouseenter = Swal.stopTimer;
                    toast.onmouseleave = Swal.resumeTimer;
                }
            });
            Toast.fire({
                icon: "warning",
                iconColor: "#007bff",
                title: "Product was added to the Basket succesfully"
            });
            const resetPasswordData = document.getElementById("wishlist");
            if (resetPasswordData !== null) {
                const Toast = Swal.mixin({
                    toast: true,
                    position: "top-right",
                    showConfirmButton: false,
                    timer: 10000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.onmouseenter = Swal.stopTimer;
                        toast.onmouseleave = Swal.resumeTimer;
                    }
                });
                Toast.fire({
                    icon: "warning",
                    iconColor: "#007bff",
                    title: "Product was added to the Basket succesfully"
                });
            }

document.getElementById('searchInput').addEventListener('input', performSearch);
    const searchResultsList = document.getElementById('searchResultsList');
    console.log(searchResultsList);
    async function performSearch() {

        var searchTerm = document.getElementById('searchInput').value.trim();
        if (searchTerm.length === 0) {
            searchResultsList.innerHTML = ``;
            return;
        }
        try {
            const response = await fetch(`/Shop/SearchProduct?search=${encodeURIComponent(searchTerm)}`);
            console.log(response)
            const data = await response.json();
            console.log(data);
            searchResultsList.innerHTML = ``;
            data.data.forEach(item => {
                const baseUrl = '@Url.Content("~/")';
                console.log(baseUrl);
                console.log(item);
                searchResultsList.innerHTML += `

       <li>
         <div class="search-img">
             <img width="90" height="90" src="./assets/img/product/${item.productImages.find()}" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" decoding="async" sizes="(max-width: 90px) 100vw, 90px">
         </div>
            <div class="search-content">
                <h1 class="product-title"><a href="">${item.title}</a></h1>
                <span class="price">
                    <del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>${item.price}</bdi></span></del>
                    <ins>
                        <span class="woocommerce-Price-amount amount">
                            <bdi>
                                <span class="woocommerce-Price-currencySymbol">$</span>${item.discountPrice}
                            </bdi>
                        </span>
                    </ins>
                </span>
            </div>
       </li>


            `
            })

        }
        catch (error) {
            console.error(error);
            searchResultsList.innerHTML = ``;
        }
    }







</script>




    


